<script>
	import { resolve } from '$app/paths';
</script>

# Über uns

Erfahren Sie mehr über unseren Verein.

- <a href={resolve('/ueber-uns/geschichte')}>Geschichte</a>
- <a href={resolve('/ueber-uns/vorstand')}>Vorstand</a>
- <a href={resolve('/ueber-uns/anfahrt')}>Anfahrt</a>
