<script>
	import { resolve } from '$app/paths';
</script>

# Über uns

<enhanced:img
	src="$lib/assets/img/IMG20230603201932.jpg"
	alt="Mitglieder der Schützengesellschaft Bleienbach"
	class="my-6 w-full rounded-lg shadow-md"
/>

Erfahren Sie mehr über unseren Verein.

- <a href={resolve('/ueber-uns/geschichte')}>Geschichte</a>
- <a href={resolve('/ueber-uns/vorstand')}>Vorstand</a>
- <a href={resolve('/ueber-uns/anfahrt')}>Anfahrt</a>
