# Vorstand

Sie erreichen den Vorstand unter folgender Email-Adresse: [vorstand@sgbleienbach.ch](mailto:vorstand@sgbleienbach.ch)

Der aktuelle Vorstand der Schützengesellschaft Bleienbach setzt sich aus folgenden Personen zusammen:

- Präsident: Thomas Flückiger, [praesidium@sgbleienbach.ch](mailto:praesidium@sgbleienbach.ch)
- Sekretär: Daniel Rickli, [sekretariat@sgbleienbach.ch](mailto:sekretariat@sgbleienbach.ch)
- Kassier: Markus Spycher, [kasse@sgbleienbach.ch](mailto:kasse@sgbleienbach.ch)
- Schiesssekretär: René Rossier, [schiesssekretaer@sgbleienbach.ch](mailto:schiesssekretaer@sgbleienbach.ch)
- Anlagenwart: Sebastian Flick, [anlage@sgbleienbach.ch](mailto:anlage@sgbleienbach.ch)
- stv. Anlagenwart: Andreas Morf, [veteranen@sgbleienbach.ch](mailto:veteranen@sgbleienbach.ch)
- verantwortlicher Senioren: Alfred Spycher, [veteranen@sgbleienbach.ch](mailto:veteranen@sgbleienbach.ch)
